@import "tailwindcss";

* {
  font-family: "League Spartan", sans-serif;
}

.textPrimary{
    @apply text-[#5ba4a4]
}
.textSecondary{
    @apply text-[#7b8e8e]
}
.bgPrimary{
    @apply bg-[#5ba4a4]
}
.bgPrimaryLight{
    @apply bg-[#effafa]
}
.bgSecondary{
    @apply bg-[#2c3a3a]
}
.borderPrimary{
    @apply border-[#5ba4a4]
}

.badge{
    @apply rounded-xl px-1.5 font-bold text-white text-sm h-[18px] inline-flex
}
.customText{
    text-box: auto;
    height: 18px;
    display: inline-flex;
}